<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>date</th>
  </tr>
<%- @statuses["results"].each_with_index do |t,i| -%>
  <tr id="tweet<%=i+1%>">
    <td><%= t["id"].to_s %></td>
    <td><%= t["from_user"] %></td>
    <td><%= t["created_at"] %></td>
  </tr>
<%- end -%>
</table>